<h2>ターン <%= @battle.turn %></h2>
<p>あなたのHP: <%= @battle.player_hp %></p>
<p>ボスのHP: <%= @battle.boss_hp %></p>

<h3 class="mb-3">手札</h3>

<div class="d-flex flex-row flex-nowrap overflow-auto gap-3">
  <% @battle.player_hand.each do |card_id| %>
    <% card = Card.find(card_id) %>

    <div class="card bg-dark text-white" style="width: 8rem; min-width: 8rem;">
      <%= form_with url: play_battle_path(@battle), method: :post, local: true do %>
        <%= hidden_field_tag :card_id, card.id %>
        
        <%= image_tag card.image, class: "card-img-top", style: "height: 135px; object-fit: cover;" %>

        <div class="card-body p-2">
          <p class="card-text mb-1"><%= card.bunya %></p>
          <p class="card-text small mb-2"><%= card.effect_type %>: <%= card.power %></p>
          <button type="submit" class="btn btn-sm btn-outline-light w-100">出す</button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h3>ログ</h3>
<pre style="color:white"><%= @battle.log.join("\n") %></pre>

<h3>Debug</h3>
<pre style="color:white">player_hand: <%= @battle.player_hand %></pre>
<pre style="color:white">deck: <%= @battle.deck %></pre>